<p id="notice"><%= notice %></p>

<p>
  <b><%= t ".name" %></b>
  <%= @guide.name %>
</p>

<p>
  <b><%= t ".description" %></b>
  <%= @guide.description %>
</p>

<%= link_to 'New Step', new_guide_step_path(@guide) %> |
<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>

<ul id='steps'>
	<% @guide.steps.each do |step| %>
		<li>
		<%= step.number %> - <%= link_to step.name, [@guide, step] %>
		</li>
	<% end %>
</ul>
